body {
    background-color: #a0522d;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff8e7;
    text-align: center;
}

#chess-board {
    width: 50%;
    height: 50%;
}

ul {
    list-style-type: none;
}

#ul-img li {
    display: inline;
}

h1, h2 {
    font-size: 400%;
    color: #e1d1ab;
}

p {
    font-size: 250%;
}

li {
    font-size: 250%;
}